<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EnvDTE.Helper" version="1.0.0" targetFramework="net452" userInstalled="true" />
  <package id="Rx-Main" version="1.0.11226" targetFramework="net452" userInstalled="true" />
  <package id="Rx-WPF" version="1.0.11226" targetFramework="net452" userInstalled="true" />
  <package id="T4.Helper" version="1.0.10" targetFramework="net452" userInstalled="true" />
  <package id="Unity" version="3.0.1304.1" targetFramework="net452" userInstalled="true" />
  <package id="WAQS.Client.WPF" version="1.9.2.76" targetFramework="net452" userInstalled="true" />
  <package id="WAQS.RoslynDeploy" version="1.0.51" targetFramework="net452" userInstalled="true" />
</packages>