<#@ include file="WAQS.VS14.NET46.Server.Service.ttinclude"#><#WriteServerService(@"..\Northwind.edmx", new SpecificationPath[] { new SpecificationPath { Sln = @"..\..\WAQSWorkshop.sln", Csproj = @"..\WAQSWorkshopServer.csproj", Folder = @"..\Specifications\"},  }, new SpecificationPath[] { new SpecificationPath { Sln = @"..\..\WAQSWorkshop.sln", Csproj = @"..\WAQSWorkshopServer.csproj", Folder = @"..\DTO\"} }, @"WAQSWorkshopServer.WAQSDTO", "http://Northwind/DTO", new SpecificationPath { Sln = @"..\..\WAQSWorkshop.sln", Csproj = @"..\WAQSWorkshopServer.csproj", Folder = @"."}, @"WAQS.Common", @"WAQS.Entities", @"WAQS.DAL.Interfaces", @"WAQS.Service.Interfaces", @"WAQS.Service", @"WAQS.SerializableExpressions", @"WAQS.Specifications", @"WAQSWorkshopServer", @"WAQSWorkshopServer.Service.Interfaces", @"WAQSWorkshopServer.DAL.Interfaces", true, @"WAQSWorkshopServer.Service", null);#>
