<#@ include file="WAQS.VS14.NET46.Server.WCFService.Contract.ttinclude"#><#WriteServerWCFServiceContract(@"..\Northwind.edmx", new SpecificationPath[] { new SpecificationPath { Sln = @"..\..\WAQSWorkshop.sln", Csproj = @"..\WAQSWorkshopServer.csproj", Folder = @"..\Specifications\"},  }, new SpecificationPath[] { new SpecificationPath { Sln = @"..\..\WAQSWorkshop.sln", Csproj = @"..\WAQSWorkshopServer.csproj", Folder = @"..\DTO\"} }, @"WAQSWorkshopServer", new SpecificationPath { Sln = @"..\..\WAQSWorkshop.sln", Csproj = @"..\WAQSWorkshopServer.csproj", Folder = @"."}, @"WAQS.Specifications", @"WAQS.DAL.Interfaces", @"WAQS.WCFService.Contract", @"WAQS.SerializableExpressions", @"WAQS.Service.Interfaces", @"WAQSWorkshopServer", @"WAQSWorkshopServer.Service.Interfaces", @"WAQSWorkshopServer.WCFService.Contract");#>
