<#@ include file="WAQS.VS14.NET46.Server.Service.Interfaces.ttinclude"#><#WriteServerServiceInterfaces(@"..\Northwind.edmx", new SpecificationPath[] { new SpecificationPath { Sln = @"..\..\WAQSWorkshop.sln", Csproj = @"..\WAQSWorkshopServer.csproj", Folder = @"..\Specifications\"},  }, new SpecificationPath[] { new SpecificationPath { Sln = @"..\..\WAQSWorkshop.sln", Csproj = @"..\WAQSWorkshopServer.csproj", Folder = @"..\DTO\"} }, @"WAQSWorkshopServer", new SpecificationPath { Sln = @"..\..\WAQSWorkshop.sln", Csproj = @"..\WAQSWorkshopServer.csproj", Folder = @"."}, @"WAQS.Specifications", @"WAQS.Service.Interfaces", @"WAQS.SerializableExpressions", @"WAQS.DAL.Interfaces", @"WAQSWorkshopServer", @"WAQSWorkshopServer.Service.Interfaces", null);#>
