<#@ include file="WAQS.VS14.NET46.Client.WPF.Fx.ClientContext.Interfaces.ttinclude"#><#WriteClientFxClientContextInterfaces("WAQS.ComponentModel", "WAQS.EntitiesTracking", null, "WAQS.ClientContext.Interfaces", true);#>
