################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Workshop*/.vs
/Workshop*/.ldf
/Workshop*/**/*.csproj.user
/Workshop*/packages
/Workshop*/WAQSWorkshopServer/bin
/Workshop*/WAQSWorkshopServer/obj
/Workshop*/WAQSWorkshopClient/bin
/Workshop*/WAQSWorkshopClient/obj
