<#@ include file="WAQS.VS14.NET46.Server.Fx.Service.ttinclude"#><#WriteServerFxService("WAQS.SerializableExpressions", "WAQS.Common", "WAQS.Entities", "WAQS.DAL.Interfaces", "WAQS.Service.Interfaces", "WAQS.Specifications", "WAQS.Service");#>
