<#@ include file="WAQS.VS14.NET46.Server.ttinclude"#>
<#
WriteServer("Northwind.Server.waqs", "WAQSWorkshopServer");
#>












































































































































































































