<#@ include file="WAQS.VS14.NET45.Client.WPF.Fx.Controls.ttinclude"#><#WriteClientFxControls("WAQS.ClientContext.Interfaces", "WAQS.ClientContext", "WAQS.ComponentModel", "WAQS.Controls.Converters", "WAQS.Controls");#>
