<#@ include file="WAQS.VS14.NET46.Client.WPF.Fx.ClientContext.ttinclude"#><#WriteClientFxClientContext("WAQS.ComponentModel", "WAQS.EntitiesTracking", "WAQS.ClientContext.Interfaces", null, "WAQS.ClientContext", true);#>
