<#@ include file="WAQS.VS14.NET45.Client.WPF.Fx.Entities.ttinclude"#><#WriteClientFxEntities("WAQS.ComponentModel", "WAQS.ClientContext.Interfaces", "WAQS.ClientContext", "WAQS.EntitiesTracking", "WAQS.Entities");#>
