<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CommonServiceLocator" version="1.2" targetFramework="net46" userInstalled="true" />
  <package id="EntityFramework" version="6.1.2" targetFramework="net46" userInstalled="true" />
  <package id="EnvDTE.Helper" version="1.0.0" targetFramework="net46" userInstalled="true" />
  <package id="T4.Helper" version="1.0.10" targetFramework="net46" userInstalled="true" />
  <package id="Unity" version="3.0.1304.1" targetFramework="net46" userInstalled="true" />
  <package id="WAQS.RoslynDeploy" version="1.0.51" targetFramework="net46" userInstalled="true" />
  <package id="WAQS.Server" version="1.9.2.78" targetFramework="net46" userInstalled="true" />
</packages>