<#@ include file="WAQS.VS14.NET46.Server.DTO.Specifications.ttinclude"#><#WriteServerDTOSpecifications(new SpecificationPath[] { new SpecificationPath { Sln = @"..\..\WAQSWorkshop.sln", Csproj = @"..\WAQSWorkshopServer.csproj", Folder = @"..\Specifications\"},  }, new SpecificationPath[] { new SpecificationPath { Sln = @"..\..\WAQSWorkshop.sln", Csproj = @"..\WAQSWorkshopServer.csproj", Folder = @"..\DTO\"} }, @"WAQS.Specifications", @"WAQS.DAL.Interfaces", @"WAQS.Service.Interfaces", @"WAQSWorkshopServer");#>
