<#@ include file="WAQS.VS14.NET46.Server.DAL.ttinclude"#><#WriteServerDAL(@"..\Northwind.edmx", new SpecificationPath[] { new SpecificationPath { Sln = @"..\..\WAQSWorkshop.sln", Csproj = @"..\WAQSWorkshopServer.csproj", Folder = @"..\Specifications\"},  }, new SpecificationPath { Sln = @"..\..\WAQSWorkshop.sln", Csproj = @"..\WAQSWorkshopServer.csproj", Folder = @"."}, @"WAQS.Common", @"WAQS.Specifications", @"WAQS.Entities", @"WAQS.DAL", @"WAQS.DAL.Interfaces", @"WAQS.Service.Interfaces", @"WAQSWorkshopServer", @"WAQSWorkshopServer.DAL.Interfaces", @"WAQSWorkshopServer.DAL");#>
