<#@ include file="WAQS.VS14.NET46.Client.WPF.ttinclude"#>
<#
WriteClient("Northwind.Client.WPF.waqs", "WAQSWorkshopClient");
#>













































































































































































