<#@ include file="WAQS.VS14.NET45.Client.WPF.DTO.Specifications.ttinclude"#><#WriteClientDTOSpecifications(new SpecificationPath[] { new SpecificationPath { Sln = @"..\..\WAQSWorkshop.sln", Csproj = @"..\..\WAQSWorkshopServer\WAQSWorkshopServer.csproj", Folder = @"..\..\WAQSWorkshopServer\Specifications\"},  }, new SpecificationPath[] { new SpecificationPath { Sln = @"..\..\WAQSWorkshop.sln", Csproj = @"..\..\WAQSWorkshopServer\WAQSWorkshopServer.csproj", Folder = @"..\..\WAQSWorkshopServer\DTO\"} }, @"WAQS.Specifications", @"WAQS.DAL.Interfaces", @"WAQS.Service.Interfaces", new Dictionary<string, string>(), @"WAQSWorkshopClient.DTO");#>
